body{
    background-color: white;
}
h1{
    text-align: center;
    background-color: #0D47A1;
    color: white;
    padding: 10px 0 10px 0;
    margin: 20px 0px 20px 0px;
    font-family: sans-serif;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.news-discription {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.divs {
    display: inline-block;
    margin: 3px;
    height: 550px;
    border: none;
    min-width: 100px;
    width: 350px;
    padding: 20px;
    margin: 10px;
}

.title {
    font-size: 20px;
    
}

p {
    font-size: 15px;
    color: black;
}

.card-img-top {
    height: 250px;
}

.fab {
    float: left;
    font-size: 60px;
    color: white;
    margin-right: 20px;
    margin-top: 46px;
    margin-bottom: 30px;
    transition: transform .2s;
    background-color: black !important;
    border-radius: 90px;	
    padding: 2px 5px 5px 5px;
}

